<div class="client-stories">
	<div class="profil-client">
		<img alt="photo de profil d'un client" src="images/femme-profil.jpg"/>
	</div>


	<p>“Sarah, a local resident, possesses a profound connection to this region. Having once served as a host, she
	   intimately comprehends the significance of having someone dedicated to managing every intricate detail, ensuring
	   a seamless experience for all.”</p>

	<div class="client__rating">
		<svg class="icon">
			<use xlink:href="images/sprite.svg#Star-gold"></use>
		</svg>
		<svg class="icon">
			<use xlink:href="images/sprite.svg#Star-gold"></use>
		</svg>
		<svg class="icon">
			<use xlink:href="images/sprite.svg#Star-gold"></use>
		</svg>
		<svg class="icon">
			<use xlink:href="images/sprite.svg#Star-gold"></use>
		</svg>
		<svg class="icon">
			<use xlink:href="images/sprite.svg#Star-gold"></use>
		</svg>
		<span>5/5</span>
	</div>

	<div class="client__name">
		<span class="name">Isabel Rose</span>
		<span class="position">Manager</span>
	</div>
</div>