/* Main style is mobile */
/* second is desktop */

:root{
	/* Colors */
	--primary-color: #17C3B2;
	--secondary-color: #FFFFFF;
	--text-color: #333333;
	/* Polices */
	--font-main:'DM Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--font-title: 'playfair display', serif;
}

*, /* All elements */
::after, /*After all elements*/
::before /*Before all elements*/ {
	box-sizing: border-box;
}
html{
	/* 62.5% of 16px is 10px.
	The because the default value on navigator is 16px */
	font-size: 62.5%;
}

body{
	font-family: "roboto", serif;
	color: var(--text-color);
	font-size: 1.8rem;
	line-height: 1.5;
	margin: 0;

}

.container {
	max-width: 1200px;
	margin: 0 auto; /* Center the container */
}

/* Title default style */
h1, h2, h3 {
	margin: 1rem 0;
	line-height: 1.2;
}
h1{
	font-size: 4rem;
}
h2{
	font-size: 3.5rem;
}
h3{
	font-size: 3rem;
}
p{
	margin: 0;
}
a{
	text-decoration: none;
}
@media screen and (min-width: 1024px){
	body{
		font-size: 2rem;
	}
	h1,h2{
		font-size: 5rem;
	}
	h3{
		font-size: 3.6rem;
	}
}

/* Links */
.link-arrow {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
}
.link{
	color: var(--primary-color);
	font-weight:500 ;
}
/*Deplacement de la fleche*/
.link-arrow .icon-arrow{
	transition: transform 0.5s ease;
}
.link-arrow:hover .icon-arrow{
	transform: translateX(10px);
}
@media screen and (min-width: 1024px){
	.link-arrow{
		font-size: 2rem;
	}
}

/* icons */
.icon{
	width: 4.5rem;
	height: 4.5rem;
}
.icon-arrow{
	width: 3rem;
	height: 2rem;
}
.icon--primary{
	fill: var(--primary-color);
	color: var(--primary-color);
}
/* Button */
.btn{
	cursor: pointer;/*permet de changer le curseur de la souris au survol d'un élément*/
	margin: 1rem 0;
}
.btn--block{
	display: inline-block;
	width: 75%;
}
.btn--search{
	color: var(--secondary-color);
	padding: 2.5rem 4vw;
	text-align: center;
	white-space: nowrap;
	text-transform: uppercase;
	font-weight: 600;
}
.btn--primary{
	background: var(--primary-color);
}
.btn--round{
	border-radius: 50%;
}
.btn--rounded{
	border-radius: 40px;
}
@media screen and (min-width: 1024px) {
	.btn--block {
		width: 210px;
		padding: 1.5rem;
	}
}

