/* Main style is mobile */
/* second is desktop */

:root{
	/* Colors */
	--primary-color: #17C3B2;
	--secondary-color: #FFFFFF;
	--text-color: #333333;
	/* Polices */
	--font-main:'DM Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--font-title: 'playfair display', serif;
}

*, /* All elements */
::after, /*After all elements*/
::before /*Before all elements*/ {
	box-sizing: border-box;
}
html{
	/* 62.5% of 16px is 10px.
	The because the default value on navigator is 16px */
	font-size: 62.5%;
}

body{
	font-family: "roboto", serif;
	color: var(--text-color);
	font-size: 1.8rem;
	line-height: 1.5;
	margin: 0;

}

.container {
	max-width: 1200px;
	margin: 0 auto; /* Center the container */
}

/* Title default style */
h1, h2, h3 {
	margin: 1rem 0;
	line-height: 1.2;
}
h1{
	font-size: 4rem;
}
h2{
	font-size: 3.5rem;
}
h3{
	font-size: 3rem;
}
p{
	margin: 0;
}
a{
	text-decoration: none;
}
@media screen and (min-width: 768px){
	body{
		font-size: 2rem;
	}
	h1,h2{
		font-size: 5rem;
	}
	h3{
		font-size: 3.6rem;
	}
}

/* Links */
.link-arrow {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
}
.link{
	color: var(--primary-color);
	font-weight:500 ;
}
/*Deplacement de la fleche*/
.link-arrow .icon-arrow{
	transition: transform 0.5s ease;
}
.link-arrow:hover .icon-arrow{
	transform: translateX(10px);
}
@media screen and (min-width: 768px){
	.link-arrow{
		font-size: 2rem;
	}
}

/* icons */
.icon{
	width: 4.5rem;
	height: 4.5rem;
}
.icon--small{
	width: 1.8rem;
	height: 2.1rem;
}
.icon-arrow{
	width: 3rem;
	height: 2rem;
}
.icon--primary{
	fill: var(--primary-color);
	color: var(--primary-color);
}
.icon--secondary{
    fill: var(--secondary-color);
    color: var(--secondary-color);
}

/* Button */
.btn{
	cursor: pointer;/*permet de changer le curseur de la souris au survol d'un élément*/
	margin: 1rem 0;
}
.btn--block{
	display: inline-block;
	width: 75%;
}
.btn--search{
	color: var(--secondary-color);
	padding: 2.5rem 4vw;
	text-align: center;
	white-space: nowrap;
	text-transform: uppercase;
	font-weight: 600;
}
.btn--primary{
	background: var(--primary-color);
}
.btn--round{
	border-radius: 50%;
}
.btn--rounded{
	border-radius: 40px;
}
@media screen and (min-width: 1024px) {
	.btn--block {
		width: 210px;
		padding: 1.5rem;
	}
}

/* input */
.field{
	display: flex;
	flex-direction: column;
	width: 310px;
}
.field label{
	font-family: var(--font-main), sans-serif;
	color: var(--secondary-color);
	font-weight: 400 ;
	font-size: 1.6rem;
	margin: 1rem 1rem;
}
.date-input{
	position: relative;
}
.input{
	font-family: var(--font-main), sans-serif;
	font-size: 1.5rem;
	width: 100%;
	height: 5rem;
	border: 1px solid var(--primary-color);
	border-radius: 8px;
	padding: 1.5rem 3.5rem;
	outline: 0;
}

.input--date{
	text-transform: uppercase;
	letter-spacing: 1px;
}

.placeholder {
	/*this element style placeholder*/
	color: #999999;
	text-align: justify;
}

.date-input .icon--small{
	position: absolute;
	right: 20px;
	top: 72%;
	transform: translateY(-50%);
	pointer-events: none;
}

@media screen and (min-width: 768px) {
	.field{
		width: 210px;
	}
}

/*Cacher l'icône native du calendrier dans les navigateurs */
input[type="date"]::-webkit-calendar-picker-indicator {
	opacity: 0;
	display: none;
	-webkit-appearance: none;
}
/* Edge + Chrome */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
	display: none;
}

/* banner element */
.banner-element{
	width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.banner-element .icon{
	width: 6.5rem;
	height: 7.2rem;
}
.banner-element h3{
	font-family: var(--font-title), sans-serif;
	color: var(--secondary-color);
}
.banner-element p{
	text-align: center;
}
@media screen and (min-width: 768px) {
	.banner-element .icon{
		width: 8.5rem;
		height: 9.5rem;
	}
}

/* Card element */
.card{
	width: 350px;
	height: 390px;
	border-radius: 25px;
	overflow: hidden;
	position: relative;
}
.card--bg{
	background: url("../images/image_006.webp") center/cover no-repeat;
	width: 350px;
}
.card::before{
	content: "";
	position: absolute;
	inset: 0;
	pointer-events: none;
	background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	z-index: 1;
}
.card__info{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	z-index: 2;
	bottom: 3rem;
	left: 7rem;
	color: var(--secondary-color);
}
.card__info__flag{
	display: flex;
	align-items: center;
	margin: 0.8rem 0;
}
.card__info h3{
	font-family: "DM Serif Display", serif;
	margin: 0;
}
.card__info span{
	font-weight: 500;
	color: var(--primary-color);
}
.card__info__flag .icon{
	width: 3.2rem;
	height: 2.1rem;
}
.card__info__flag p{
	text-transform: uppercase;
	font-weight: 700;
}
.notation{
	display: none;
}
@media screen and (min-width: 768px) {
	.card{
		width: 260px;
		height: 390px;
	}
	.card__info{
		left: 5rem;
	}
	.card__info p{
		font-size: 1.6rem;
	}
	.notation{
		display: flex;
		margin-top: 1rem;
	}
	.notation img{
		width: 2.4rem;
		height: 2.4rem;
	}
}

/* post */
.blog-post{
	width: 100%;
	height: 102px;
	display: flex;
	gap: 1rem;
	align-items: center;
}
.post__img{
	width: 10rem;
	height: 10rem;
	overflow: hidden;
	border-radius: 10px;
}
.post__img img{
	width: 100%;
}
.post__text{
	text-align: justify;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 241px;
}
.post__text p{
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.2;
	text-align: left;
}
.post__text span{
	font-family: var(--font-main), sans-serif;
	font-weight: 700;
	font-size: 1.4rem;
	color: var(--primary-color);
	text-transform: uppercase;
}
@media screen and (min-width: 768px) {
	.blog-post{
		gap: 2.1rem;
	}
	.post__text{
		width: 450px;
		gap: 1.9rem;
	}
	.post__text p{
		font-size: 1.8rem;
	}
}

/* plan */
.plan{
	width: 350px;
	height: 350px;
	overflow: hidden;
	position: relative;
	border-radius: 22px;
}
.plan img{
	width: 100%;
	height: 100%;
}
.plan__info{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px;
	background: rgba(0, 0, 0, 0.7);
}
.plan__info p{
	font-weight: bold;
	font-size: 2rem;
	color: var(--primary-color);
	margin-top: 2rem;
	margin-left: 2rem;
}
.plan__info h3{
	font-weight: 900;
	color: var(--secondary-color);
	margin-left: 2rem;
	display: inline-flex;
}
.plan__info span{
	color: var(--primary-color);
	font-weight: 700;
	font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
	.plan{
		width: 360px;
		height: 360px;
	}
}
/* text header */
.text-title{
    width: 100%;
    position: relative;
}
.text-title p{
    font-family: var(--font-main), sans-serif;
    text-transform: uppercase;
    color: var(--primary-color);
}
.text-title span{
    font-family: var(--font-title), serif;
    font-size: 35px;
    font-weight: 600;
}
@media screen and (min-width: 768px){
    .text-title{
        padding-left: 6.5rem;
    }
    .text-title::before{
        content: "--------";
        color: var(--primary-color);
        position: absolute;
        bottom: 10px;
        left: 2px;
        padding-left: 2px;
    }
}

/* navigation bar */
.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.8rem 1.6rem;
    justify-self: center;
    width: 100%;
    align-items: center;
}
.nav img{
    width: 12.1rem;
    height: 2.1rem;
}
.nav__list{
    list-style: none;
    font-family: var(--font-main), sans-serif;
    padding: 0;
    width: 100%;
}
.nav__item{
    text-align: center;
    font-weight: 500;
    font-size: 1.8rem;
    padding: 0.8rem 1.5rem;
    border-bottom: 1px solid #222;
}
.nav__item > a {
    color: var(--secondary-color) ;
    transition: color 0.3s;
}
.nav__item > a:hover {
    color: var(--primary-color);
}
.nav__toggler {
    opacity: 0.5;
    transition: box-shadow 0.15s;
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .nav{
        width: 100%;
        flex-wrap: nowrap;
        padding: 1rem 10rem;
    }
    .nav img{
        width: 20.6rem;
        height: 4rem;
    }
    .list-inline{
        display: flex;
        align-items: center;
        margin: 0;
    }
    .nav__list{
        width: auto;
    }
    .nav__toggler {
        display: none;
    }
    .nav__item {
        border: 0;
    }
}
/* collapsible */
.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    margin: 0;
}
.collapsible--expanded .collapsible__content {
    max-height: 385px;
    opacity: 1;
}
@media screen and (min-width: 768px) {
    /*empeche l'effet d'affichage du menu sur les ecrans superieurs ou egaux à 768px*/
    .collapsible__content{
        max-height: none;
        opacity: 1;
        overflow: visible;
    }
}
/* footer list */
.footer__list{
    width: 100%;
}
.footer__list .nav__list{
    margin: 0;
}
.footer__list p{
    font-weight: 500;
    margin-bottom: 0.8rem;
    color: var(--primary-color);
}
.footer__item{
    width: auto;
    padding: 0;
   color: var(--secondary-color);
    margin-top: 0.5rem;
}
.footer__item a{
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--secondary-color);
    transition: color 0.3s;
}
.footer__item a:hover{
    color: var(--primary-color);
}
@media screen and (min-width: 768px){
    .footer__list p{
        color: black;
    }
    .footer__item a{
        color: #666666;
    }

}
/* footer copyright */
.footer__brand{
   display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}
.footer__brand img{
    width: 178px;
    height: 33px;
    margin: 2rem;
}
.footer__copyright{
    color: var(--primary-color);
    font-size: 1.4rem;
    font-family: var(--font-main), sans-serif;
}
@media screen and (min-width: 768px){
    .footer__brand{
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .footer__brand img{
        margin: 1rem;
    }
}