/* --- Bases styles ---*/

:root {
	/* Colors */
	--background-color: #ffffff;
	--primary-color: #17c3b2;
	--secondary-color: #073d37;
	--text-color: #333333;

	/* Typography */
	font-size: 62.5%; /* 1rem = 10px for easier rem calculations */

	/* Font family */
	--line-height-base: 1.5;
	--line-height-heading: 1.2;

	/* Line height */
	--font-primary: 'DM Sans', sans-serif;
	--font-secondary: 'Playfair Display', serif;
	--font-tertiary: 'Roboto', sans-serif;

}

*, /* All elements */
::after, /*After all elements*/
::before /*Before all elements*/
{
	box-sizing: border-box;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: var(--font-tertiary);
	font-size: 1.8rem;
	line-height: var(--line-height-base);
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4 {
	margin: 0;
}

h1 {
	color: var(--background-color);
	font-family: var(--font-secondary);
	font-size: 4.5rem;
	line-height: var(--line-height-heading);
}

h2 {
	color: var(--text-color);
	font-family: var(--font-secondary);
	font-size: 3.5rem;
	line-height: var(--line-height-heading);
}

h3 {
	color: var(--background-color);
	font-family: var(--font-secondary);
	font-size: 2.5rem;
	line-height: var(--line-height-base);
}

h4 {
	color: var(--primary-color);
	font-family: var(--font-primary);
	font-size: 1.8rem;
	line-height: var(--line-height-base);
}

a {
	text-decoration: none;
}

@media screen and (min-width: 1024px) {
	body {
		font-size: 2rem;
	}

	h1 {
		font-size: 7rem;
	}

	h2 {
		font-size: 5rem;
	}

	h3 {
		font-size: 3.6rem;
	}

	h4 {
		font-size: 2rem
	}
}

/* --- Layout ---*/
.container-full {
	margin: 0 auto;
	max-width: 1512px;
	padding: 0 100px;
}

.container {
	margin: 0 auto;
	max-width: 1280px;
}

/* --- Components ---*/
/* Links */
.link-arrow {
	color: var(--primary-color);
	font-family: var(--font-tertiary);
	font-size: 2rem;
	line-height: var(--line-height-heading);
}

.link-arrow::after {
	/*add arrow the link*/
	content: "-->";
	margin-left: 5px;
	transition: margin-left 0.15s ease;
}

.link-arrow:hover::after {
	/*move the arrow on hover*/
	margin-left: 10px;
}

@media screen and (min-width: 1024px) {
	.link-arrow {
		font-size: 1.8rem;
	}
}

/*heading title*/
.heading-title {
	min-width: 350px;
	max-width: 600px;
	display: flex;
	gap: 20px;
	align-items: center;
}

.title h4 {
	font-weight: 500;
	text-transform: uppercase;
}

.title h2 {
	font-weight: 600;
}

.heading-title .icon {
	display: none;
}

@media screen and (min-width: 768px) {
	.heading-title .icon {
		display: flex;
		width: 74px;
		height: 4px;
		color: var(--primary-color);
		margin-top: 30px;
	}

}

/*activity group*/
.activity-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 350px;
	align-items: center;
}

.activity-group h3 {
	font-weight: 700;
	text-align: center;
}

.activity-group p {
	width: 268px;
	text-align: center;
	font-weight: 400;
	margin: 0;
}

.activity-group .icon {
	width: 8.525rem;
	height: 6.64rem;
}

@media screen and (min-width: 768px) {
	.activity-group .icon {
		width: 9.8rem;
		height: 10.5rem;
	}

}

/*blog element*/
.blog-element {
	max-width: 350px;
	display: flex;
	gap: 10px;

}

.blog-element__img {
	width: 100%;
	height: 100%;
	border-radius: 10px;

}

.blog-element__text {
	width: 241px;
}

.blog-element__text p {
	font-size: 1.5rem;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 10px;
	width: 241px;
}

.blog-element .date {
	display: inline-block;
	font-family: var(--font-primary);
	font-weight: 700;
	font-size: 1.4rem;
	color: var(--primary-color);
	line-height: var(--line-height-heading);
	text-transform: uppercase;
	width: 241px;
}

@media screen and (min-width: 768px) {
	.blog-element {
		max-width: 576px;
	}

	.blog-element__text p {
		font-size: 1.8rem;
		width: 450px;
	}

	.blog-element .date {
		font-size: 1.6rem;
	}
}

/*card*/
.card {
	position: relative;
	width: 350px;
	height: 350px;
	border-radius: 22px;
	overflow: hidden;
	font-size: 2rem;
	font-weight: bold;
	color: var(--primary-color);
	line-height: 1;
	text-align: justify;
}

.card__img {
	width: 100%;
	height: 100%;
}

.card__info {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 15px;
}

.price {
	margin: 8px 0 0 0;
	font-size: 3.6rem;
	font-weight: 900;
	color: var(--background-color);
}

.price span {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
	color: var(--primary-color);
}

/*Card destination*/
.card-destination {
	position: relative;
	width: 350px;
	height: 390px;
	border-radius: 25px;
	overflow: hidden;
}

.destination__img {
	width: 100%;
	height: 100%;
}

.destination__details {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.destination__details h3 {
	font-family: DM Serif Display;
	font-size: 4rem;
	font-weight: 400;
}

.flag {
	font-weight: 700;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	gap: 1px;
}

.flag .icon {
	width: 32px;
	height: 21px;
}

.flag p {
	color: var(--background-color);
	margin: 0;
}

.destination__details p {
	margin: 0;
	color: var(--background-color);
}

.destination__details span {
	color: var(--primary-color);
	font-weight: 500;
}

.destination__rating {
	display: none;
}

@media screen and (min-width: 768px) {
	.destination__rating {
		display: flex;
	}

	.destination__rating .icon {
		width: 24px;
		height: 24px;
	}
}

/*profil story*/
.client-stories {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
	width: 250px;
	margin: 10px 0;
}

.client-stories p {
	font-size: 1.5rem;
	font-weight: 400;
	width: 242px;
	text-align: center;
	line-height: 1.5;
	margin: 0;
}

.profil-client {
	width: 125px;
	height: 120px;
	border: 4px solid var(--primary-color);
	border-radius: 50%;
	overflow: hidden;

}

.profil-client img {
	width: 100%;
	height: 100%;
	transform: scaleX(-1);
}

.client__rating {
	display: flex;
}

.client__rating .icon {
	width: 24px;
	height: 24px;
}

.client__rating span {
	font-size: 2rem;
	font-weight: 700;
	margin-left: 10px;

}

.name {
	font-size: 1.8rem;
	font-weight: 700;
	margin-top: 10px;
}

.position {
	display: block;
	font-size: 1.8rem;
	color: aaaaaa;
	text-align: center;
}
