<section class="carrousel-container">
    <div class="header">
        <div class="title-group title-group--primary">
            <p class="small-title small-title--primary">Where to go</p>
            <span class="main-title">Popular destinations</span>
        </div>
        <p class="block-space">Explore our curated selection of the world's most sought-after travel spots in this diverse list of must-visit
            places.
            From iconic cities to pristine natural wonders, we've gathered the best destinations to ignite your
            wanderlust.</p>
    </div>
    <div class="carrousel-block">
        <!-- Inputs radio pour contrôler le carrousel -->
        <input type="radio" name="destination" id="destination1" checked>
        <input type="radio" name="destination" id="destination2">
        <input type="radio" name="destination" id="destination3">
        <input type="radio" name="destination" id="destination4">
        <input type="radio" name="destination" id="destination5">
        <input type="radio" name="destination" id="destination6">

        <!-- Flèche gauche -->
        <div class="nav-arrow nav-arrow--secondary">
            <svg class="icon--small icon--secondary">
                <use xlink:href="images/sprite.svg#arrow_back"></use>
            </svg>
            <label for="destination6"></label>
            <label for="destination1"></label>
            <label for="destination4"></label>
            <label for="destination5"></label>
        </div>

        <div class="carrousel">
            <!-- Bande des cartes -->
            <div class="carrousel__track">
                <div class="card card--bg bg--gradient card--bg__1">
                    <div class="card__info">
                        <h3>Cairo</h3>
                        <div class="card__info__flag">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#flag_egypt"></use>
                            </svg>
                            <p>egypt</p>
                        </div>
                        <p>Price starts at <span>€105.00</span></p>
                        <div class="notation">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-grey.webp" srcset="">
                        </div>
                    </div>
                </div>
                <div class="card card--bg bg--gradient card--bg__2">
                    <div class="card__info">
                        <h3>Paris</h3>
                        <div class="card__info__flag">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#flag_france"></use>
                            </svg>
                            <p>france</p>
                        </div>
                        <p>Price starts at <span>€95.00</span></p>
                        <div class="notation">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-grey.webp" srcset="">
                        </div>
                    </div>
                </div>
                <div class="card card--bg bg--gradient card--bg__3">
                    <div class="card__info">
                        <h3>Rome</h3>
                        <div class="card__info__flag">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#flag_italy"></use>
                            </svg>
                            <p>italy</p>
                        </div>
                        <p>Price starts at <span>€75.00</span></p>
                        <div class="notation">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-grey.webp" srcset="">
                        </div>
                    </div>
                </div>
                <div class="card card--bg bg--gradient card--bg__4">
                    <div class="card__info">
                        <h3>Madrid</h3>
                        <div class="card__info__flag">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#flag_spain"></use>
                            </svg>
                            <p>spain</p>
                        </div>
                        <p>Price starts at <span>87.00</span></p>
                        <div class="notation">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-grey.webp" srcset="">
                        </div>
                    </div>
                </div>
                <div class="card card--bg bg--gradient card--bg__5">
                    <div class="card__info">
                        <h3>Berlin</h3>
                        <div class="card__info__flag">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#flag_france"></use>
                            </svg>
                            <p>deutsch</p>
                        </div>
                        <p>Price starts at <span>€65.00</span></p>
                        <div class="notation">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-grey.webp" srcset="">
                        </div>
                    </div>
                </div>
                <div class="card card--bg bg--gradient card--bg__6">
                    <div class="card__info">
                        <h3>London</h3>
                        <div class="card__info__flag">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#flag_france"></use>
                            </svg>
                            <p>england</p>
                        </div>
                        <p>Price starts at <span>€85.00</span></p>
                        <div class="notation">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                            <img alt="Star gold for notation" src="./images/Star-grey.webp" srcset="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination -->
            <div class="carrousel__indicators">
                <label for="destination1" class="indicator indicator-1"></label>
                <label for="destination2" class="indicator indicator-2"></label>
                <label for="destination3" class="indicator indicator-3"></label>
                <label for="destination4" class="indicator indicator-4"></label>
                <label for="destination5" class="indicator indicator-5"></label>
                <label for="destination6" class="indicator indicator-6"></label>
            </div>
        </div>

        <!-- Flèche droite -->
        <div class="nav-arrow nav-arrow--primary">
            <svg class="icon--small icon--secondary">
                <use xlink:href="images/sprite.svg#arrow_forward"></use>
            </svg>
            <label for="destination4"></label>
            <label for="destination5"></label>
            <label for="destination6"></label>
            <label for="destination1"></label>
        </div>
    </div>
</section>