<section class="section-plans">
    <div class="blog-header title-group title-group--primary plan--heading ">
        <p class="small-title small-title--primary">Best Offers</p>
        <span class="main-title">Top Deals and Discounts</span>
    </div>
    <div class="plans-container block-space">
        <div class="plan plan-1">
            <img alt="Plan €99" src="./images/image_004.webp" srcset="">
            <div class="plan__info">
                <p>Holidays Suites Navona - ITALY</p>
                <h3>€149,00</h3>
                <span> Price stars from</span>
            </div>
        </div>

        <div class="plan plan-2">
            <img alt="Plan €99" src="./images/image_005.webp" srcset="">
            <div class="plan__info">
                <p>Kantua hotel - THAILAND</p>
                <h3>€99,00</h3>
                <span> Price stars from</span>
            </div>
        </div>

        <div class="plan plan-3">
            <img alt="Plan €99" src="./images/image_014.webp" srcset="">
            <div class="plan__info">
                <p>NH Madrid Zurbano - MADRID</p>
                <h3>€89,00</h3>
                <span> Price stars from</span>
            </div>
        </div>

        <div class="plan plan-4">
            <img alt="Plan €99" src="./images/image_010.webp" srcset="">
            <div class="plan__info">
                <p>Royal Plaza Hotel - HONG KONG</p>
                <h3>€89,00</h3>
                <span> Price stars from</span>
            </div>
        </div>

        <div class="plan plan-5">
            <img alt="Plan €99" src="./images/image_003.webp" srcset="">
            <div class="plan__info">
                <p>Le Meridien - ABU DHABI</p>
                <h3>€109,00</h3>
                <span> Price stars from</span>
            </div>
        </div>
    </div>
</section>