<section class="section-testimonials">
    <div class="title-group title-group--primary">
        <p class="small-title small-title--primary">Feedback</p>
        <span class="main-title">Happy Client Stories</span>
    </div>
    <div class="testimonials__block">
        <!-- Flèche gauche -->
        <div class="nav-arrow nav-arrow--secondary back">
            <svg class="icon--small icon--secondary">
                <use xlink:href="images/sprite.svg#arrow_back"></use>
            </svg>
        </div>

        <div class="testimonials__carrousel">
            <!-- Inputs radio pour contrôler le carrousel -->
            <input type="radio" name="testimonial" id="testimonial1" checked>
            <input type="radio" name="testimonial" id="testimonial2">
            <input type="radio" name="testimonial" id="testimonial3">
            <input type="radio" name="testimonial" id="testimonial4">
            <input type="radio" name="testimonial" id="testimonial5">

            <div class="testimonials__track">
                <div class="testimonials">
                    <img src="./images/image_013.jpg" alt="" srcset="" class="testimonial__img">
                    <div class="testimonials__quote">
                        <svg class="icon">
                            <use xlink:href="images/sprite.svg#quote"></use>
                        </svg>
                    </div>
                    <p class="testimonial__text">“Sarah, a local resident, possesses a profound connection to this region.
                        Having once served as a host, she intimately comprehends the significance of having
                        someone dedicated to managing every intricate detail, ensuring a seamless experience for all.”</p>
                    <div class="notation testimonials__note">
                        <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                        <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                        <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                        <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                        <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                        <span>5/5</span>
                    </div>
                    <p class="position">
                       <span class="position__name">
                           Isabel Rose
                       </span>
                        Manager
                    </p>
                </div>
                <div class="testimonials">
                    <img src="./images/image_012.jpg" alt="" srcset="" class="testimonial__img">
                    <div class="testimonials__quote">
                        <svg class="icon">
                            <use xlink:href="images/sprite.svg#quote"></use>
                        </svg>
                    </div>
                    <p class="testimonial__text">“Liam, born and raised in this locale, has an innate connection to the
                        area.
                        With a background as a host himself, he fully appreciates the necessity of having someone who can
                        attend
                        to all the small but essential aspects, making every moment memorable.”</p>
                    <div class="notation testimonials__note">
                        <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                        <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                        <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                        <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
                        <img alt="Star gold for notation" src="./images/Star-grey.webp" srcset="">
                        <span>4/5</span>
                    </div>
                    <p class="position">
       <span class="position__name">
           Oliver Mitchell
       </span>
                        Landscape Architect
                    </p>
                </div>
            </div>

            <!-- Pagination -->
            <div class="testimonials__indicators">
                <label for="testimonial1" class="indicator indicator-1"></label>
                <label for="testimonial2" class="indicator indicator-2"></label>
                <label for="testimonial3" class="indicator indicator-3"></label>
                <label for="testimonial4" class="indicator indicator-4"></label>
                <label for="testimonial5" class="indicator indicator-5"></label>
            </div>
        </div>

        <!-- Flèche droite -->
        <div class="nav-arrow nav-arrow--primary next">
            <svg class="icon--small icon--secondary">
                <use xlink:href="images/sprite.svg#arrow_forward"></use>
            </svg>
        </div>
    </div>
</section>