<section class="block-features block">
    <div class="text-title">
        <p>Tour Types</p>
        <span>Adventure & Activity</span>
    </div>
    <p class="block-features__description">Explore thrilling destinations that will get your heart racing. From rugged mountains to dense jungles, embark on unforgettable journeys that will test your limits and create lasting memories. Dive into the unknown, conquer nature's challenges, and write your own epic tale of adventure.</p>
    <div class="feature-group">
        <div class="feature-element">
            <svg class="icon">
                <use xlink:href="images/sprite.svg#icon_camping"></use>
            </svg>
            <h3>Exploring</h3>
            <p>13 nature escapes, tents,<br>RVs, cabins, outdoor experiences</p>
        </div>
        <div class="feature-element">
            <svg class="icon">
                <use xlink:href="images/sprite.svg#icon_tenda"></use>
            </svg>
            <h3>Exploring</h3>
            <p>Breathtaking landscapes,<br> hidden trails, remote villages, natural beauty</p>
        </div>
        <div class="feature-element">
            <svg class="icon">
                <use xlink:href="images/sprite.svg#icon_fire"></use>
            </svg>
            <h3>Exploring</h3>
            <p>7 unique destinations,<br> marshmallow roasting, nature connection</p>
        </div>
        <div class="feature-element">
            <svg class="icon">
                <use xlink:href="images/sprite.svg#icon_mappa"></use>
            </svg>
            <h3>Exploring</h3>
            <p>25 diverse destinations, historical cities, hidden<br>gems, unique charm</p>
        </div>
    </div>
</section>