<footer class="footer-container">
    <div class="footer-full">
        <div class="footer-contact">
            <div class="block-texts">
                <p class="contact__help">Need any help ?</p>
                <p class="text-heading">
                    Call 24/7 for any help
                    <span class="text-span">+00 123 456 789</span>
                </p>
                <p class="text-heading">
                    Mail to our support team
                    <span class="text-span">support@domain.com</span>
                </p>
                <p class="text-heading">Follow us on</p>
            </div>
            <div class="block-icons">
                <svg class="icon--footer">
                    <use xlink:href="images/sprite.svg#icon_facebook"></use>
                </svg>
                <svg class="icon--footer">
                    <use xlink:href="images/sprite.svg#icon_instagram"></use>
                </svg>
                <svg class="icon--footer">
                    <use xlink:href="images/sprite.svg#icon_twitter"></use>
                </svg>
                <svg class="icon--footer">
                    <use xlink:href="images/sprite.svg#icon_youtube"></use>
                </svg>
            </div>
        </div>
        <div class="footer-callout">
            <div class="list-inline">
                <div class="footer__list">
                    <p>Company</p>
                    <ul class="nav__list">
                        <li class="footer__item"><a href="#">About Us</a></li>
                        <li class="footer__item"><a href="#">Testimonials</a></li>
                        <li class="footer__item"><a href="#">Rewards</a></li>
                        <li class="footer__item"><a href="#">Work with Us</a></li>
                        <li class="footer__item"><a href="#">Meet the Team </a></li>
                        <li class="footer__item"><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="footer__list">
                    <p>support</p>
                    <ul class="nav__list">
                        <li class="footer__item"><a href="#">Account</a></li>
                        <li class="footer__item"><a href="#">FAQ</a></li>
                        <li class="footer__item"><a href="#">Legal</a></li>
                        <li class="footer__item"><a href="#">Contact</a></li>
                        <li class="footer__item"><a href="#">Affiliate Program</a></li>
                        <li class="footer__item"><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>

            </div>
            <div class="list-inline">
                <div class="footer__list">
                    <p>services</p>
                    <ul class="nav__list">
                        <li class="footer__item"><a href="#">Community Program</a></li>
                        <li class="footer__item"><a href="#">Investor Relations</a></li>
                        <li class="footer__item"><a href="#">Rewards Program</a></li>
                        <li class="footer__item"><a href="#">Points Plus</a></li>
                        <li class="footer__item"><a href="#">Partners</a></li>
                        <li class="footer__item"><a href="#">List My Hotel</a></li>
                    </ul>
                </div>
                <div class="footer__list">
                    <p>top cities</p>
                    <ul class="nav__list">
                        <li class="footer__item"><a href="#">Rome</a></li>
                        <li class="footer__item"><a href="#">Madrid</a></li>
                        <li class="footer__item"><a href="#">New York</a></li>
                        <li class="footer__item"><a href="#">Hong Kong</a></li>
                        <li class="footer__item"><a href="#">Paris</a></li>
                        <li class="footer__item"><a href="#">Tokyo</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__brand">
        <p>Copyright © 2025 Millenium Code</p>
        <img src="./images/footer-logo.png" alt="logo de l'agence" srcset="" class="footer__logo-1">
        <img src="./images/top-logo.png" alt="logo de l'agence" srcset="" class="footer__logo-2">
    </div>
</footer>