<section class="blog-container">
    <div class="blog-header title-group title-group--primary">
        <p class="small-title small-title--primary">Exploring</p>
        <span class="main-title">News and Blog</span>
    </div>
    <article class="blog block-space">
        <!-- partie 1 -->
        <div class="blog__article-main">
            <img src="./images/image_002.webp" alt="image un chateau chinois" srcset="">
            <span class="blog__badge small-title--primary">asia</span>
            <p class="blog__heading">Unveiling the Enchanting Beauty of Kyoto</p>
            <p class="blog__text">Join us on a virtual journey to one of Japan's most captivating cities – Kyoto. In our
                latest blog post, we'll immerse you in the mesmerizing world of ancient temples, tranquil gardens, and
                the timeless traditions that define this cultural gem.</p>
            <div class="link-arrow">
                <a class="link" href="#">Read full article</a>
                <svg class="icon-arrow icon--primary">
                    <use xlink:href="images/sprite.svg#arrow_forward"></use>
                </svg>
            </div>
        </div>

        <!-- partie 2 -->
        <div class="blog-articles-list">
            <div class="article-item blog-post">
                <div class="post__img">
                    <img alt="" src="./images/image_009.webp" srcset="">
                </div>
                <div class="post__text">
                    <p>Exploring the Enigmatic Wonders of Southeast Asia: A Journey of Discovery Through Ancient Temples
                        and
                        Lush Jungles</p>
                    <span>19 set 2023</span>
                </div>
            </div>
            <div class="article-item blog-post">
                <div class="post__img">
                    <img alt="" src="./images/image_011.webp" srcset="">
                </div>
                <div class="post__text">
                    <p>Epic Adventures: From Machu Picchu to the Amazon Rainforest - Exploring the Heart of South
                        America's
                        Natural Beauty and Cultural Riches</p>
                    <span>10 MAY 2023</span>
                </div>
            </div>
            <div class="article-item blog-post">
                <div class="post__img">
                    <img alt="" src="./images/image_016.webp" srcset="">
                </div>
                <div class="post__text">
                    <p>Chasing Sunsets: A Journey through Europe's Most Romantic Cities - Unveiling the Allure of
                        Historic
                        Charm and Modern Elegance</p>
                    <span>20 JUL 2023</span>
                </div>
            </div>
            <div class="article-item blog-post">
                <div class="post__img">
                    <img alt="" src="./images/image_001.webp" srcset="">
                </div>
                <div class="post__text">
                    <p>Off the Beaten Path: Uncovering Hidden Gems in South America - From Remote Villages to Pristine
                        Wilderness, the Ultimate Exploration</p>
                    <span>15 JUN 2023</span>
                </div>
            </div>
            <div class="link-arrow">
                <a class="link" href="#">See all articles</a>
                <svg class="icon-arrow icon--primary">
                    <use xlink:href="images/sprite.svg#arrow_forward"></use>
                </svg>
            </div>
        </div>
    </article>
</section>