<section class="section-features block">
    <div class="title-group">
        <p class="small-title">Tour types</p>
        <span class="main-title main-title--white">Adventure & Activity</span>
    </div>
    <p class="block-features__description block-space">Explore thrilling destinations that will get your heart racing. From rugged mountains to dense jungles, embark on unforgettable journeys that will test your limits and create lasting memories. Dive into the unknown, conquer nature's challenges, and write your own epic tale of adventure.</p>
    <div class="feature-group block-space">
        <div class="feature-element">
            <svg class="icon">
                <use xlink:href="images/sprite.svg#icon_camping"></use>
            </svg>
            <h3>Camping</h3>
            <p>13 nature escapes, tents,<br>RVs, cabins, outdoor experiences</p>
        </div>
        <div class="feature-element">
            <svg class="icon">
                <use xlink:href="images/sprite.svg#icon_tenda"></use>
            </svg>
            <h3>Trekking</h3>
            <p>Breathtaking landscapes,<br> hidden trails, remote villages, natural beauty</p>
        </div>
        <div class="feature-element">
            <svg class="icon">
                <use xlink:href="images/sprite.svg#icon_fire"></use>
            </svg>
            <h3>Camp Fire</h3>
            <p>7 unique destinations,<br> marshmallow roasting, nature connection</p>
        </div>
        <div class="feature-element">
            <svg class="icon">
                <use xlink:href="images/sprite.svg#icon_mappa"></use>
            </svg>
            <h3>Exploring</h3>
            <p>25 diverse destinations, historical cities, hidden gems, unique charm</p>
        </div>
    </div>
</section>