<div class="card card--bg bg--gradient">
	<div class="card__info">
		<h3>Paris</h3>
		<div class="card__info__flag">
			<svg class="icon">
				<use xlink:href="images/sprite.svg#flag_france"></use>
			</svg>
			<p>france</p>
		</div>
		<p>Price starts at <span>€95.00</span></p>
		<div class="notation">
			<img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
			<img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
			<img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
			<img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
			<img alt="Star gold for notation" src="./images/Star-grey.webp" srcset="">
		</div>
	</div>
</div>