<div class="field search-input">
	<label for="search">Search Destination</label>
	<input class="input placeholder" id="search" name="destination" placeholder="Enter Destination" required type="text">
</div>

<div class="field date-input">
	<label for="date">Checking Date</label>
	<div class="date-field">
		<input class="input placeholder input--date" id="date" required type="date">
		<svg class="icon--small icon--primary">
			<use xlink:href="images/sprite.svg#calendar"></use>
		</svg>
	</div>
</div>