<div class="testimonials">
    <img src="./images/image_013.jpg" alt="" srcset="" class="testimonial__img">
    <div class="testimonials__quote">
        <svg class="icon">
            <use xlink:href="images/sprite.svg#quote"></use>
        </svg>
    </div>
    <p class="testimonial__text">“Sarah, a local resident, possesses a profound connection to this region.
        Having once served as a host, she intimately comprehends the significance of having
        someone dedicated to managing every intricate detail, ensuring a seamless experience for all.”</p>
    <div class="notation testimonials__note">
        <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
        <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
        <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
        <img alt="Star gold for notation" src="./images/Star-gold.webp" srcset="">
        <img alt="Star gold for notation" src="./images/Star-grey.webp" srcset="">
        <span>5/5</span>
    </div>
    <p class="position">
       <span class="position__name">
           Isabel Rose
       </span>
        Manager
    </p>
</div>