/* --- Bases styles --- */
/* Apply box-sizing border-box to all elements to include padding and border in element's total width and height */
*, /* All elements */
::after, /*After all elements*/
::before /*Before all elements*/ {
  box-sizing: border-box;
}
/* Define a max width for the container and center it */
.container {
  max-width: 1200px;
  margin: 0 auto; /* Center the container */
}
/* Define fonts style */
html {
  /* 52.5% of 16px is 8.4px.
    The because the default value on navigator is 16px */
  font-size: 52.5%;
}
body {
  /* Text base style*/
  font-family: "Montserrat", Helvetica, sans-serif;
  color: #000;
  font-size: 1.6rem; /* 16px */
  line-height: 1.5;
  margin: 0;
  letter-spacing: 1px;
}
h1,
h2,
h3 {
  /* Headings style */
  margin: 0;
  line-height: 1.5;
}
h1 {
  /* Main title style */
  margin-top: 3rem;
  font-size: 3rem; /* 35px */
  font-weight: 800;
}
h2 {
  /* Secondary title style */
  font-size: 2rem; /* 20px */
  font-weight: 600;
}
p {
  margin: 0;
}
.box {
  width: fit-content;
}
/* --- Header styles --- */
.header {
  text-align: end;
  margin-top: 2rem;
  margin-left: 20rem;
}

/* --- List styles --- */
.list {
  list-style: none; /* Remove default list style */
  padding: 0; /* Remove default padding */
  margin: 4rem 0; /* Remove default margin */
}
.list-item {
  margin-bottom: 0.5rem; /* Space between list items */
  display: flex;
  gap: 1rem;
}
.list .icon {
  fill: #000;
}

/** --- Social icons styles --- */
.icon {
  width: 20px;
  height: 20px;
  fill: #000;
}
.scocial-icons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
